                            /*cursive*/
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v8/RWmMoKWR9v4ksMfaWd_JN9XFiaQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

                        /*all caps*/
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cinzel/v10/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

                        /*serif*/
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v12/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
  height: 100%;
  margin: 0;  
  text-align: center;
  background-color:  #dae1e7;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #dae1e7;
    font-family: "Cinzel", serif;

}

.box {
    border: 1px dotted white;
    background-color: #dae1e7;
    width: 250px;
    height: 100px;
    flex-grow: 1;
    margin: 5px;
    align-self: center;
    
  }

.box a {
      text-decoration: none;
      color: #142850;
      font-size: 1.2rem;
  }

.box img {
    max-width: 250px
    }  

.cover-image-container {
    display: block;
    width: 100%;

}  
.cover-image {

    background-image: url(../images/cover-size-images/Long-Branch-historic-house-facade.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}    

h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: "Great Vibes", cursive, serif;
    font-size: 3rem;
    font-weight: normal;
    color: #142850;
    padding-top: 0.5rem;

}

.cover-image-container p {
    font-size: 1.25rem;
    font-family: "PT serif", "Times New Roman", serif;
    background-color: #27496d;
    color: white;
    padding: 1rem 2rem;
    text-align: justify;
    margin-bottom: 1rem;
}

/*--------------------choice containers----------*/

.choice-grid {
    display: grid;
    height: 1000px;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px 0;
    background-color: #dae1e7;

  }
 
.choice-grid h3 {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    color: #142850;
}  

.choice-grid img {
    width: 100%;
    height: auto;
}

.choice-grid p {
    font-family: "PT Serif", serif;
    font-size: 1rem;
    color: #142850;

}   
  
  .choice-box-left {
    border-radius: 0px;
    text-align: right;

  }
  

  .choice-box-right {
    border-radius: 0px;
    text-align: left;
  }
  
.a {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: rgba(20, 40, 80, 0.2);
    padding-top: .5rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
   }


.b { 
    grid-area: 1 / 2 / span 1 / span 2;
    background-color: rgba(20, 40, 80, 0.2);
    padding-left: 1rem;
}
.c {
    grid-area: 2 / 1 / span 1 / span 2;
    background-color: rgba(20, 40, 80, 0.2);
    padding-right: 1rem;
}
.d {
    grid-area: 2 / 3 / span 1 / span 1;
    background-color: rgba(20, 40, 80, 0.2);
    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
}
   
.e {
    grid-area: 3 / 1 / span 1 / span 1;
    background-color: rgba(20, 40, 80, 0.2);
    padding-top: .75rem;
    padding-left: .75rem;
    padding-bottom: .75rem;
   }
.f { 
    grid-area: 3 / 2 / span 1 / span 2;
    background-color: rgba(20, 40, 80, 0.2);
    padding-left: 1rem;
}
.g {
    grid-area: 4 / 1 / span 1 / span 2;
    background-color: rgba(20, 40, 80, 0.2);
    padding-right: 1rem;
}
.h {
    grid-area: 4 / 3 / span 1 / span 1;
    background-color: rgba(20, 40, 80, 0.2);
    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
}
   







      




/*----------------- media queries---------------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* ruleset for portrait mobile */
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* ruleset for portrait tablets  */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* ruleset for landscape tablets  */
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
    /* ruleset for laptops */
}
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
    /* ruleset for desktops */
}








/*--------------------- colors----------------------------- */
.medium-blue-background {
    background-color: #27496d;
}

.dark-blue-background {
    background-color: #142850;
}

.teal-background {
    background-color: #00909e;
}

.gray-background {
    background-color: #dae1e7;
}

.medium-blue {
    color: #27496d;
}

.dark-blue {
    color: #142850;
}

.teal {
    color: #00909e;
}

.gray {
    color: #dae1e7;
}
